{{ $url := .url }}
{{ $title := .title }}
{{ $ := .content }}
<script language="javascript" type="text/javascript" src="http://b.hatena.ne.jp/js/widget.js" charset="utf-8"></script>
<script language="javascript" type="text/javascript">
Hatena.BookmarkWidget.url   = {{ $url }};
Hatena.BookmarkWidget.title = {{ $title }};
Hatena.BookmarkWidget.sort  = "count";
Hatena.BookmarkWidget.width = "auto";
Hatena.BookmarkWidget.num   = 5;
Hatena.BookmarkWidget.theme = "default";
Hatena.BookmarkWidget.load();
</script>
