<ul class="list-unstyled">

    {{ with .Site.Params.phone }}
    <li>
        <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
        {{ if and (isset $.Site.Params.contact "autolink") (eq $.Site.Params.contact.autolink false) }}
        <span>{{ . }}</span>
        {{ else }}
        <span><a href="tel:{{ . }}">{{ . }}</a></span>
        {{ end }}
    </li>
    {{ end }}

    {{ with .Site.Params.email }}
    <li>
        <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
        <script>
            function converter(M){var str="", str_as=""; for(var i=0;i<M.length;i++){ str_as = M.charCodeAt(i); str += String.fromCharCode(str_as + 1); } return str; } var ad = converter(String.fromCharCode(102,96,108,47,47,49,49,63,102,108)+String.fromCharCode(96,104,107,45,98,110,108)); document.write("<a href=\"mai"+"lto:"+ad+"\">"+ad+"<\/a>");
        </script>
    </li>
    {{ end }}

    {{ with .Site.Params.address }}
    <li>
        <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
        <span>{{ . }}</span>
    </li>
    {{ end }}

</ul>
