<div class="col-md-6">
    <h4 class="blog-title"><img src="/img/gam0022_splash.png" class="icon"> gam0022.net</h4>
    <!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="78732/"></script> <!-- end feedwind code -->
    <div class="read-more">
      <a href="/post" class="btn btn-primary btn-outline">Read more</a>
    </div>
</div>
<div class="col-md-6">
    <h4 class="blog-title"><img src="/img/icons/qiita.png" class="icon"> Qiita</h4>
    <!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="78750/"></script> <!-- end feedwind code -->
    <div class="read-more">
      <a href="http://qiita.com/gam0022" class="btn btn-primary btn-outline">Read more</a>
    </div>
</div>
