body{margin:0;padding:0;overflow-x:hidden;-webkit-text-size-adjust:100%;}
img{border:none;}

#container{text-align:left;overflow:hidden;margin:0;padding:0;width:100%;height:520px;font-family:'メイリオ','ＭＳ Ｐゴシック',sans-serif;font-size:12px;}
#header{margin:0px;padding:5px 5px 5px 5px;color:#FFFFFF;background-color:#9ACD32;background-image:none;}
#header .feed_title{margin:0;padding:0;font-weight:bold;word-wrap:break-word;}
#header .feed_title a:link{color:#FFFFFF;text-decoration:none;}
#header .feed_title a:visited{color:#FFFFFF;text-decoration:none;}
#header .feed_title a:hover{color:#FFFFFF;text-decoration:underline;}
#header .feed_title a:active{color:#FFFFFF;text-decoration:none;}
#content{overflow:hidden;margin:0 20px 0 0;padding:5px 0px 0px 0px;background-color:#FFFFFF;background-image:none;}
#content .feed_item{margin:0 0 7px 0;padding:0 0 7px 0;border-bottom: 1px solid #ddd;clear:both;}
#content .feed_item_title{margin:1px 0 1px 3px;padding:1px 2px 1px 3px;color:#666666;font-weight:bold;}
#content .feed_item_title a:link{color:#666666;text-decoration:none;}
#content .feed_item_title a:visited{color:#666666;text-decoration:none;}
#content .feed_item_title a:hover{color:#666666;text-decoration:underline;}
#content .feed_item_title a:active{color:#666666;text-decoration:none;}
#content .feed_item_podcast{margin:0 0 0 3px;padding:0 0 0 3px;}
#content .feed_item_date{margin:0 0 0 3px;padding:0 2px 0 3px;color:#666666;overflow:hidden;text-overflow:ellipsis;clear:both;}
#content .feed_item_link{margin:0 0 0 3px;padding:0 2px 0 3px;color:#666666;overflow:hidden;text-overflow:ellipsis;clear:both;}
#content .feed_item_link a:link{color:#666666; text-decoration:none;}
#content .feed_item_link a:visited{color:#666666; text-decoration:none;}
#content .feed_item_link a:hover{color:#666666; text-decoration:none;}
#content .feed_item_link a:active{color:#666666; text-decoration:none;}
#content .feed_item_description{overflow:hidden;margin:0 20px 0 3px;padding:0 2px 0 3px;color:#666666;line-height:135%;word-wrap:break-word;clear:both;}
#content .feed_item_thumbnail{width:110px; height:100px; float:left; margin:5px; overflow:hidden;}
#footer{display:none;height:0px;margin:0px;padding:0px;color:#FFFFFF;background-color:#FFFFFF;background-image:none;}
.scroll-pane{width: 100%;overflow:auto;}
#content, #content .jspContainer, #content .jspPane, #content .feed_item {width: 100%;}
