{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

    {{ $paginator := .Paginate .Data.Pages }}
    {{ range $paginator.Pages }}
    <div class="article-list-item" itemscope itemprop="blogPost">
        {{ if .Params.image }}
        <a href="{{ .Permalink }}">
            <img src="{{ $.Site.BaseURL }}img/{{ .Params.image }}" class="article-banner" itemprop="image">
        </a>
        {{end}}
        <h3 class="article-title" itemprop="name"><a href="{{ .Permalink }}" itemprop="url">AA {{ .Title }}</a></h3>
        {{ partial "article_metadata" (dict "content" . "is_list" 1) }}
        <p class="article-style" itemprop="articleBody">
            {{ if .Truncated }}
                {{ printf "%s" .Summary | markdownify }}
            {{ else }}
                {{ .Content }}
            {{ end }}
        </p>
        <p class="read-more">
            <a href="{{ .Permalink }}" class="btn btn-primary btn-outline">
                {{ with .Site.Params.posts.str_read_more }}{{ . | markdownify }}{{ end }}
            </a>
        </p>
    </div>
    {{ end }}

    {{ partial "pagination" . }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
